# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*

# Composer / PHP
/vendor/
composer.lock

# Node
/node_modules
npm-debug.log
yarn-error.log
/public/build
/dist
/build
/public/hot
/public/storage

# Laravel / PHP cache & storage
/storage/*
!/storage/.gitignore
/bootstrap/cache/*
/storage/*.key

# IDEs and editors
/.idea/
/.vscode/
/*.sublime-*

# PHPUnit / testing
.phpunit.result.cache
.phpunit.cache
coverage/

# Misc
*.zip
*.tar.gz
*.bak
auth.json
